.navbar ul li{
    display: inline-flex;
    text-decoration: none; 
    padding: 2px;
    margin: 12px;
    /* font-size: 1.5em; */
    font-weight: bold;
  }
  .navbar ul li :hover{
    background: rgb(202, 202, 202);
    padding: 5px;
    border-radius: 10%;
  }
  .div1{
    height: 26px;
    width: 2px;
    margin : 0px 15px 0px 20px;
    background-color: rgb(240, 240, 240);
  }
  .a1{
    color: blue;
  }
  .maindiv{
    display: inline-flex;
  }
.div2{
  margin: 10px;
  border: none;
  text-align: center;
  font-size: 1rem;
}
 .div2 img{
   /* border: 2px solid ; */
   border-radius: 100%;
  /* margin: 19px; */

 
 }
 .card{
   margin: 18px;


 }
 .cardgroup{
   background-color: rgb(245, 245, 255);
 }
  .card1{
  margin: 8px;
border: rgb(233, 10, 10) solid 2px;


}
.img{
  margin: 10px;
}
@media only screen and (max-width:820px){
    .maindiv{
        display: none;
    }
}
@media only screen and (max-width:420px){
    .maindiv{
        display: block;
    }
}