/* .App {
  text-align: center;
} */

.back{
  background-image: url(https://i.pinimg.com/originals/dd/d7/13/ddd7130b572aebbd660b8ea30c63f3d5.jpg);
background-position: center;
background-repeat: no-repeat;
width: 100%;

}
.h1{
font-family:Verdana, Geneva, Tahoma, sans-serif;
/* font-style: italic; */
font-size:2em;
font-weight: 900;
text-align: center;
/* margin-left: 380px;
margin-right: 350px; */
}
.h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic bold;
font-size:2em;
font-weight: 900;
text-align: center;
}
.h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* font-style: italic ; */
font-size:2em;
font-weight: 900;
/* margin-right:510px ; */
/* text-align: center; */
margin-left: 380px;
margin-right: 380px;

}
.p{
  margin-left: 360px;
  margin-right: 380px;
  /* text-align:right; */

}
.h4{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* font-style: italic ; */
font-size:1.6em;
font-weight: 800;
/* margin-right:510px ; */
/* text-align: center; */
margin-left: 380px;
margin-right: 386px;

}
.h5{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* font-style: italic ; */
font-size:1.em;
font-weight: 900;
/* margin-right:510px ; */
/* text-align: center; */
margin-left: 380px;
margin-right: 386px;

}
.dis{
  display: inline-flex;
}
.first{
margin-right: 60px;
}